.portadaImage {
    width: 100%;
    height: 100vh;
    background: url('../../Multimedia/Images/git2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.swiperCard {
  width: 700px;
  height: 400px;
  z-index: 999;
}