.portadaImage {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url('../../Multimedia/Images/dev3.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-image: fill 0 linear-gradiant(#0001, #000);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: end;
  padding-bottom: 50px;
}

.portadaImage::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:  linear-gradient(to right, rgba(91, 95, 94, 0.7)10%, transparent);
}

.customPagination {
  color: #f0e1e1; /* Cambia este color según tus preferencias */
}
/* .swiperCard {
  display: flex;
  justify-content: center;
  align-items: end;
  z-index: 1;
} */


.swiperCard {
  transition: transform 0.5s;
  cursor: pointer;
}
.swiperCard:hover {
  transform: scale(1.04);
}

.botonContact {
  cursor: pointer;
  background: #222831;
  color: #95C11F;
  border: 3px solid #fafafa;
  
}
.botonContact:hover {
  background: #fafafa;
  opacity: 70%;
  color: #222831;
  border: 4px solid #95C11F ;
}
.SwiperSlide{
  height: auto;
}